
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div>
        <br>
        <div class="d-flex bd-highlight">
          <div class="p-2 flex-grow-1 bd-highlight">
            <a type="button" class="btn btn-primary "  [routerLink]="['/addEmployee']" routerLinkActive="router-link-active">THÊM MỚI NHÂN VIÊN</a>
          </div>
          <form>

            <div class="d-flex bd-highlight">
              <div class="p-2 flex-fill bd-highlight">
                <input type="text" id="customerName" name="customerName"
                       placeholder="Tên Nhân Viên" style="width:200px;height: 38px">
              </div>
              <div class="p-2 flex-fill bd-highlight">
                <input type="text" id="customerAddress" name="customerAddress" placeholder="Địa chỉ"
                       style="width:200px;height: 38px"><br><br>
              </div>

              <div class="p-2 flex-fill bd-highlight">
                <button type="submit" class="btn btn-primary">TÌM KIẾM</button>
              </div>
            </div>
          </form>
        </div>

      </div>
      <p class="fs-2 fw-bolder text-center" style="color: #ff5050">DANH SÁCH NHÂN VIÊN</p>
      <table class="table">
        <thead>
        <tr style="color: #ff5050 ; font-size: 20px">
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Id Card</th>
          <th scope="col">Adress</th>
          <th scope="col">Education</th>
          <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let emp of employeeList">
          <th>{{emp.id}}</th>
          <th>{{emp.name}}</th>
          <th>{{emp.email}}</th>
          <th>{{emp.idCard}}</th>
          <th>{{emp.adress}}</th>
          <th>{{emp.education}}</th>

          <th>
            <button type="button" class="btn btn-primary">
              <i class="fas fa-cloud"></i>
            </button>

            <a type="button" class="btn btn-primary" [routerLink]="['/updateEmployee']" routerLinkActive="router-link-active">
              <i class="far fa-edit"></i>
            </a>

            <button type="button" class="btn btn-danger">
              <i class="fas fa-trash"></i>
            </button>

          </th>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>



