
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div>
        <br>
        <div class="d-flex bd-highlight">
          <div class="p-2 flex-grow-1 bd-highlight">
            <a type="button" class="btn btn-primary "  [routerLink]="['/employee/addEmployee']" routerLinkActive="router-link-active">THÊM MỚI NHÂN VIÊN</a>
          </div>
          <div>
            <div class="d-flex bd-highlight">
              <div class="p-2 flex-fill bd-highlight">
                <input type="text" id="customerName" name="customerName"
                       placeholder="Tên Nhân Viên" style="width:200px;height: 38px">
              </div>
              <div class="p-2 flex-fill bd-highlight">
                <input type="text" id="customerAddress" name="customerAddress" placeholder="Địa chỉ"
                       style="width:200px;height: 38px"><br><br>
              </div>

              <div class="p-2 flex-fill bd-highlight">
                <button type="submit" class="btn btn-primary">TÌM KIẾM</button>
              </div>
            </div>
          </div>
        </div>

      </div>
      <p class="fs-2 fw-bolder text-center" style="color: #ff5050">DANH SÁCH NHÂN VIÊN</p>
      <table class="table">
        <thead>
        <tr style="color: #ff5050 ; font-size: 20px ; text-align: center">
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">BirthDay</th>
          <th scope="col">Address</th>
          <th scope="col">Education</th>
          <th scope="col">Position</th>
          <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let emp of employeeList" style="text-align: center">
          <th>{{emp.id}}</th>
          <th>{{emp.name}}</th>
          <th>{{emp.email}}</th>
          <th>{{emp.birthDay}}</th>
          <th>{{emp.address}}</th>
          <th>{{emp.education.name}}</th>
          <th>{{emp.position.name}}</th>

          <th>
            <button type="button" class="btn btn-primary" style="margin-left: 20px" >
              <i class="fas fa-cloud"></i>
            </button>

            <a type="button" class="btn btn-primary" [routerLink]="['/employee/updateEmployee/'+emp.id]" routerLinkActive="router-link-active" style="margin-left: 20px">
              <i class="far fa-edit"></i>
            </a>

            <button type="button" class="btn btn-danger" style="margin-left: 20px" (click)="openDialog(emp.id)" >
<!--              [routerLink]="['/employee/delete/'+emp.id]" routerLinkActive="router-link-active"-->
              <i class="fas fa-trash"></i>
            </button>

          </th>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>



